@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap");
body,
input,
textarea,
select,
table,
button,
code {
  font-family: inherit;
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.hidden,
[hidden] {
  display: none !important;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

input,
textarea {
  font-size: inherit;
  border: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}

input[readonly]::-webkit-input-placeholder, input:disabled::-webkit-input-placeholder,
textarea[readonly]::-webkit-input-placeholder,
textarea:disabled::-webkit-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::-ms-input-placeholder, input:disabled::-ms-input-placeholder,
textarea[readonly]::-ms-input-placeholder,
textarea:disabled::-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: "arcade";
  src: url(../fonts/ARCADECLASSIC.woff) format("woff");
}

@font-face {
  font-family: "mo";
  src: url(../fonts/DungGeunMo.woff) format("woff");
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  font-family: 'mo', 'arcade';
  line-height: normal;
  font-size: 14px;
  color: inherit;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #222;
  color: #fff;
  cursor: none;
}

body:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background: url(https://thewatermelon.s3.ap-northeast-2.amazonaws.com/wp-content/uploads/2021/11/11102445/noise.png) repeat;
  background-size: 80px 80px;
  -webkit-filter: contrast(100%);
  filter: contrast(100%);
  opacity: .25;
}

@font-face {
  font-family: 'memvYaGs126MiZpBA';
  src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: 'Coworking';
  src: url(../fonts/Coworking.otf) format("woff2");
  font-weight: 400;
}

.ic-coin {
  position: absolute;
  height: 97px;
  width: 97px;
  background-image: url(../images/icon/coin.png);
  top: 100px;
  left: 100px;
  z-index: 100;
}

@media (max-width: 767px) {
  .ic-coin {
    width: 50px;
    height: 50px;
    background-size: cover;
  }
}

.cursor {
  width: 25px;
  height: 25px;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
  pointer-events: none;
}

.cursor img {
  width: 50px;
  height: 50px;
}

.honors-box {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
}

.header-area {
  width: 100%;
}

.header-area .logo {
  position: fixed;
  top: 40px;
  left: 45px;
  font-size: 40px;
  z-index: 10;
  color: #fff;
}

@media (max-width: 1350px) {
  .header-area .logo {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .header-area .logo {
    font-size: 16px;
    left: 10px;
  }
}

.header-area .util-wrap {
  position: relative;
}

.header-area .util-wrap .btn-menu {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 9999;
  color: #fff;
  font-size: 40px;
}

@media (max-width: 1350px) {
  .header-area .util-wrap .btn-menu {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .header-area .util-wrap .btn-menu {
    font-size: 16px;
    right: 20px;
  }
}

.header-area .util-wrap .sub-menu.on {
  left: 0;
}

.header-area .util-wrap .sub-menu {
  width: 100%;
  background: #000;
  height: 100vh;
  z-index: 100;
  position: fixed;
  top: 0;
  right: -100%;
}

.header-area .util-wrap .sub-menu .sub-wrap {
  padding: 50px 100px;
}

.header-area .util-wrap .sub-menu .sub-wrap .sub-item {
  display: block;
  padding: 10px 0;
  font-size: 100px;
  -webkit-animation: shake .2s infinite;
          animation: shake .2s infinite;
}

.header-area .util-wrap .sub-menu .sub-wrap .sub-item::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background: #ff3c78;
}

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(0.1deg);
            transform: rotate(0.1deg);
  }
  to {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
}

@keyframes shake {
  from {
    -webkit-transform: rotate(0.1deg);
            transform: rotate(0.1deg);
  }
  to {
    -webkit-transform: rotate(-0.1deg);
            transform: rotate(-0.1deg);
  }
}

.header-area .year {
  position: fixed;
  left: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
  z-index: 10;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  font-size: 40px;
}

@media (max-width: 1350px) {
  .header-area .year {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .header-area .year {
    font-size: 16px;
    left: 20px;
  }
}

.header-area .insert {
  position: fixed;
  top: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  z-index: 10;
  font-size: 30px;
}

@media (max-width: 1023px) {
  .header-area .insert {
    font-size: 25px;
    top: 120px;
  }
}

@media (max-width: 767px) {
  .header-area .insert {
    font-size: 16px;
    top: 80px;
  }
}

.footer-area {
  padding: 80px 140px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1023px) {
  .footer-area {
    padding: 80px 70px;
  }
}

@media (max-width: 767px) {
  .footer-area {
    padding: 10px;
  }
}

.footer-area .copy {
  position: fixed;
  bottom: 40px;
  right: 40px;
  color: #fff;
  font-size: 20px;
}

@media (max-width: 1350px) {
  .footer-area .copy {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .footer-area .copy {
    font-size: 10px;
    right: 10px;
    bottom: 10px;
  }
}

.footer-area .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-area .about .title {
  width: 40%;
  padding-bottom: 15px;
  font-size: 64px;
  font-family: 'Coworking';
}

@media (max-width: 1350px) {
  .footer-area .about .title {
    font-size: 40px;
  }
}

@media (max-width: 1023px) {
  .footer-area .about .title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .footer-area .about .title {
    font-size: 12px;
    width: 30%;
    padding-top: 30px;
  }
}

.footer-area .about .info-box {
  width: 40%;
}

.footer-area .about .info-box .link-gnb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .footer-area .about .info-box .link-gnb-wrap {
    width: 250px;
  }
}

@media (max-width: 767px) {
  .footer-area .about .info-box .link-gnb-wrap {
    width: 140px;
  }
}

.footer-area .about .info-box .link-gnb-wrap .link-gnb {
  padding: 15px 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .footer-area .about .info-box .link-gnb-wrap .link-gnb {
    font-size: 8px;
    line-height: 15px;
  }
}

.footer-area .about .info-box .link-gnb-wrap .link-gnb.link-gnb::after {
  content: '';
  display: block;
  height: 2px;
  width: 0;
  background: #ff3c78;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.footer-area .about .info-box .link-gnb-wrap .link-gnb.link-gnb:hover::after {
  width: 100%;
}

.footer-area .about .info-box .imail {
  font-size: 42px;
}

@media (max-width: 1350px) {
  .footer-area .about .info-box .imail {
    font-size: 30px;
  }
}

@media (max-width: 1023px) {
  .footer-area .about .info-box .imail {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .footer-area .about .info-box .imail {
    font-size: 10px;
    padding: 0 0 20px 20px;
  }
}

.sc-visual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sc-visual .arrow {
  display: inline-block;
  z-index: 10;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: url(../images/icon/arrow.png) no-repeat;
  background-size: cover;
}

@media (max-width: 1350px) {
  .sc-visual .arrow {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1023px) {
  .sc-visual .arrow {
    bottom: 100px;
  }
}

@media (max-width: 1023px) {
  .sc-visual .arrow {
    width: 40px;
    height: 40px;
    bottom: 20px;
  }
}

.visual-wrap {
  height: 100%;
  width: 100%;
}

.visual-wrap .img-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.visual-wrap .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.visual-wrap .desc {
  font-size: 6.8vw;
  letter-spacing: .01em;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.sc-company {
  position: relative;
  text-align: center;
  padding: 250px 140px 196px 140px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .sc-company {
    padding: 100px;
  }
}

.sc-company .particle {
  width: 150px;
  position: absolute;
  z-index: -1;
}

@media (max-width: 1023px) {
  .sc-company .particle {
    width: 100px;
  }
}

@media (max-width: 767px) {
  .sc-company .particle {
    width: 50px;
  }
}

.sc-company .strong {
  font-size: 10vw;
  padding: 0 0 6px;
  font-weight: 200;
}

.sc-company .sc-title {
  padding-top: 4px;
  font-size: 2vw;
  font-weight: 400;
  font-family: 'Coworking';
}

.sc-company .desc {
  max-width: 1200px;
  margin: 70px auto 0 auto;
  color: #fff;
  font-size: 1.2vw;
  font-weight: 300;
  line-height: 28.8px;
}

@media (max-width: 767px) {
  .sc-company .desc {
    margin-top: 20px;
    line-height: 16px;
  }
}

.sc-digital {
  padding: 150px 140px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .sc-digital {
    padding: 100px 100px;
  }
}

@media (max-width: 767px) {
  .sc-digital {
    padding: 10px 10px;
  }
}

.sc-digital .digital-area {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sc-digital .digital-area .img-box {
  display: block;
  width: 60%;
  height: 50vw;
  background: #f00;
  position: relative;
}

@media (max-width: 767px) {
  .sc-digital .digital-area .img-box {
    width: 100%;
  }
}

.sc-digital .digital-area .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sc-digital .digital-area .txt-box {
  width: calc(40% - 50px);
  margin-top: 3%;
  line-height: 1.3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .sc-digital .digital-area .txt-box {
    width: calc(40% - 50px);
  }
}

@media (max-width: 767px) {
  .sc-digital .digital-area .txt-box {
    width: 100%;
  }
}

.sc-digital .digital-area .txt-box .title {
  font-size: 25px;
  line-height: 1.3;
}

@media (max-width: 1350px) {
  .sc-digital .digital-area .txt-box .title {
    font-size: 25px;
  }
}

@media (max-width: 767px) {
  .sc-digital .digital-area .txt-box .title {
    font-size: 16px;
  }
}

.sc-digital .digital-area .txt-box .desc {
  font-size: 20px;
  padding: 30px 0;
}

@media (max-width: 1023px) {
  .sc-digital .digital-area .txt-box .desc {
    display: none;
  }
}

.sc-digital .digital-area .txt-box .txt-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1023px) {
  .sc-digital .digital-area .txt-box .txt-wrap {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .sc-digital .digital-area .txt-box .txt-wrap {
    padding-top: 15px;
  }
}

.sc-digital .digital-area .txt-box .txt-wrap .hash {
  padding: 5px 20px;
  font-size: 18px;
  border-radius: 20px;
  background: #3a3a3a;
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 1350px) {
  .sc-digital .digital-area .txt-box .txt-wrap .hash {
    padding: 3px 10px;
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .sc-digital .digital-area .txt-box .txt-wrap .hash {
    padding: 3px 5px;
    font-size: 10px;
  }
}

.sc-digital .digital-area .txt-box .date {
  color: #6a6a6a;
  font-size: 22px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 1023px) {
  .sc-digital .digital-area .txt-box .date {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .sc-digital .digital-area .txt-box .date {
    font-size: 10px;
    padding-top: 20px;
  }
}

.sc-digital .digital-area .sc-title {
  position: absolute;
  font-size: 8vw;
  z-index: 10;
}

@media (max-width: 767px) {
  .sc-digital .digital-area .sc-title {
    display: none;
  }
}

.sc-digital .digital-area .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sc-digital .digital-area .content + .content {
  margin-top: 100px;
}

.sc-digital .digital-area .content.col-left .sc-title {
  -webkit-writing-mode: tb-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: tb-rl;
  -webkit-transform: translate(10%, -50%);
          transform: translate(10%, -50%);
}

.sc-digital .digital-area .content.col-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 767px) {
  .sc-digital .digital-area .content.col-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sc-digital .digital-area .content.col-right .sc-title {
  top: -5vw;
  left: 2vw;
}

@media (max-width: 767px) {
  .sc-digital .digital-area .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
